<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <script src="/javascripts/header.js"></script>
</head>
<body style="background: #f8f8f8;">
	<%- include('header') %>
    <div style="margin: 20px;">
        <ul>
            <% for (let s of result) { %>
                <li>
                    <%= (new Date(s.timestamp)).toGMTString() -%>: 
                    <a href='/watch?v=<%= Buffer.from(s.sid.toString().padStart(6, "0")).toString("base64") -%>'>
                    <%= s.singer -%> - <%= s.name -%> (<%= s.date -%>)
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
</body>
</html>
