<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
        <link rel="stylesheet" href="/stylesheets/header.css" />
        <link rel="stylesheet" href="/stylesheets/results.css" />
        <script src="/javascripts/header.js"></script>
        <script src="/javascripts/results.js"></script>
        <title><%= locals.search  -%>- YTPoop</title>
    </head>
    <body>
        <%- include('header') %>
        <div class="main">
            <div class="flex-container">
                <div class="button_block">
                    <div class="swappy-radios" role="radiogroup" aria-labelledby="swappy-radios-label">
                        <h3 id="swappy-radios-label">Search Option</h3>
                        <br>
                        <label>
                            <input type="radio" name="options" checked/>
                            <span class="radio"></span>
                            <span>不指定</span>
                        </label>
                        <label>
                            <input type="radio" name="options" />
                            <span class="radio"></span>
                            <span>找標題</span>
                        </label>
                        <label>
                            <input type="radio" name="options" />
                            <span class="radio"></span>
                            <span>找作者</span>
                        </label>
                        <label>
                            <input type="radio" name="options" />
                            <span class="radio"></span>
                            <span>找歌詞</span>
                        </label>
                    </div>
                </div>

                <div id="result">
                    <% for (let s of result) { %>
                    <div class="ret_block">
                        <div class="img_block">
                            <a href="/watch?v=<%= Buffer.from(s._id.toString().padStart(6, '0')).toString('base64') -%>">
                                <img src="http://img.youtube.com/vi/ZOxmzpE0Vz4/0.jpg" style="width: 100%;">
                            </a>
                        </div>

                        <div class="info_block">
                            <div>
                                <a href="/watch?v=<%= Buffer.from(s._id.toString().padStart(6, '0')).toString('base64') -%>" title="<%= s._source.singer -%> - <%= s._source.name -%> (<%= s._source.date -%>)" class="yt_link">
                                    <p class="yt_des title"><%= s._source.singer -%> - <%= s._source.name -%> (<%= s._source.date -%>)</p>
                                </a>
                            </div>
                            <div>
                                <p class="singer"><%= s._source.singer -%> </p>
                            </div>
                            <br>
                            <div>
                                <p class="yt_des lyrics"><%= s._source.lyrics.join(" ") -%></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>


    </body>

</html>
